h1 {
    text-align: center;
    font-weight: 400;
    text-decoration: red underline wavy;
    letter-spacing: 15px;
    font-size: 80px;
    font-family: cursive;
}

a {
    text-decoration: none;
}

p {
    line-height: 2;
}

body {
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}

h1, h2 {
    color: #1d3557;
}

#signup {
    background-color: #1d3557;
    color: #f1faee;
}

span {
    color: blue;
}

.fish {
    background-color: yellow;
    color: #9b2226;
    font-size: small;
}